<% @title='新着ブログ一覧' %>
<div class='row my-3'>
  <div class='col-6'>
    <h1><%= @title %></h1>
  </div>
  <div class='col-6'>
    <% if current_user %>
      <%= link_to '記事を作成する', :new_post, class: 'btn btn-sm btn-outline-secondary float-end'%>
    <% end %>
  </div>
</div>
<%= render 'shared/post_lists'%>
