<footer class='bg-dark text-center text-white-50 py-5' style='position: absolute; bottom: 0; width: 100%;'>
    <div class='container'>
        <div class='row align-items-center'>
            <p>&copy;2021 Nao Yukimori</p>
        </div>
    </div>
</footer>