<header>
  <%= link_to 'Blog', :root, class: 'logo-mark' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%=
    # if current_user
    #   link_to 'ログアウト', :user_session, method: :delete
    # else
    #   link_to 'ログイン', :user_login
    # end
  %>
</header>