<div class='error' style='display: flex; align-items: center; height: calc(100vh - 136px - 60px);'>
  <div class='error-content', style='width: 100%; max-width: 350px; padding: 15px; margin: auto;'>
    <div style='text-align: center;'>
      <i class='far fa-dizzy fa-5x mb-3 mx-auto'></i>
    </div>
    <h1 class='h3 mb-3 fw-normal text-center'>500 Internal Sever Error</h1>
    <p class='text-center'>申し訳ございません。システムエラーが発生しました。</p>
  </div>
</div>