<div class='error-section'>
  <div class='error-content'>
    <div class='error-icon'>
      <i class='far fa-dizzy fa-5x mb-3 mx-auto'></i>
    </div>
    <h1 class='h3 mb-3 fw-normal text-center'>500 Internal Sever Error</h1>
    <p class='text-center'>申し訳ございません。システムエラーが発生しました。</p>
  </div>
</div>