<div class='error-section'>
  <div class='error-content'>
    <div class='error-icon'>
      <i class='far fa-frown fa-5x mb-3 mx-auto'></i>
    </div>
    <h1 class='h3 mb-3 fw-normal text-center'>404 Not Found</h1>
    <p class='text-center'>指定されたページは見つかりません。</p>
    <p class='text-center'><%= request.env['REQUEST_URI'] %></p>
  </div>
</div>